<footer class="footer">
  <div class="row">
    <div class="col">
      <h3 class="footer__heading">details</h3>
      <p>Jeden Mittwoch im Treppenstudio (2U12) </p>
      <p>Einlass 19:30 Uhr</p>
      <p>Eintritt nur für Studierende der HdM!</p>
    </div>
    <div class="col">
      <h3 class="footer__heading">Kontakt</h3>
      <p>Hauptverantwortliche:
        <%= meta.HVs %>
      </p>
      <p>filmrausch(at)hdm-stuttgart.de</p>
    </div>
    <div class="col">
      <h3 class="footer__heading">Links</h3>
      <p><a class="footer__link" href="/about">über uns</a></p>
      <p><a class="footer__link" href="https://instagram.com/hdm.filmrausch">instagram</a></p>
      <p><a class="footer__link" href="https://facebook.com/filmrausch">facebook</a></p>
    </div>
  </div>
  <div class="row">
    <div class="vs-footer">
      <a href="http://vs.hdm-stuttgart.de">
        <img class="vs-footer__logo" src="http://i67.tinypic.com/2ep7bci.png" alt="vs-logo">
      </a>
      <p class="vs-footer__text">eine Initiative der verfassten Studierendenschaft</p>
    </div>
  </div>
</footer>