<header>
  <a href="/" class="logo">
    <div>
      <h1 class="logo__title">Filmrausch</h1>
      <p class="logo__subtitle"><%= meta.semester %></p>
    </div>
    <img class="logo__image" src="/assets/images/logo.svg" />
  </a>
  <nav class="nav">
    <a class="nav__link" href="/">home</a>
    <a class="nav__link" href="/about">über uns</a>
    <a class="nav__link" href="/faq">FAQ</a>
  </nav>
</header>
