<header>
  <div class="logo">
    <div>
      <h1 class="logo__title">Filmrausch</h1>
      <p class="logo__subtitle"><%= meta.term %></p>
    </div>
    <img class="logo__image" src="/assets/images/logo.webp" />
  </div>
  <nav class="nav">
    <a class="nav__link" href="/">home</a>
    <a class="nav__link" href="/about">über uns</a>
  </nav>
</header>