body {
  background: #222;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

main {
  background: #3d3d3d;
  padding: 30px 0 100px;
  .card {
    background: #fff;
    border-radius: 2px;
    box-shadow: 1px 3px 6px rgba(#000, 0.24);
  }
}
