@import url('https://fonts.googleapis.com/css?family=Lato:700|Open+Sans');
@import "../shared/header.scss";
@import "../shared/footer.scss";
@import "../shared/main.scss";

.carousel {
  padding: 20px auto;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.card {
  display: grid;
  background: #fff;
  width: 100%;
  margin: 50px 30px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(#000, .12);
}

.movie {
  &__title {
    font: 2.5em 'Lato';
  }
}