@import url('https://fonts.googleapis.com/css?family=Lato:700|Open+Sans');
@import "../shared/header.scss";
@import "../shared/footer.scss";
@import "../shared/main.scss";
.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__link {
    font-size: 1em;
    background: transparent;
    cursor: pointer;
    padding: 8px 13px;
    margin: 0 20px;
    border: 3px solid transparent;
    border-radius: 3px;
    box-sizing: border-box;
  }
  &__link.active {
    border: 3px solid #282D33;
    transition: all 0.3s;
  }
  &__link:not(.active) {
    display: none;
  }
}

.carousel {
  width: 100%;
}

.card {
  background: #fff;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(#000, .12);
}

.movie {
  display: grid;
  grid-template: 'poster title' 'description description';
  grid-template-columns: 33% auto;
  grid-template-rows: auto 1fr;
  box-sizing: border-box;
  padding: 30px;
  margin: 30px 30px 10px;
  width: 90%;
  grid-column-gap: 25px;
  &__title {
    font: 1.6em 'Lato' bold;
    line-height: 1em;
    margin: 0;
    grid-area: title;
    &--year {
      font-size: 0.65em;
      margin: 0 5px;
    }
  }
  &__poster {
    border-radius: 3px;
    max-width: 100%;
    grid-area: poster;
  }
  &__description {
    grid-area: description;
    margin: 30px 0 0;
  }
}

@media screen and (min-width: 699px) {
  .carousel {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;  
  }
  .movie {
    grid-template: 'poster title' 'poster description';
    grid-template-columns: 33% auto;
    grid-template-rows: auto 1fr;
    &__title {
      margin-top: 10px;
      font-size: 2.25em;
    }
    &__description {
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 800px) {
  .controls {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    &__button {
      display: none;
    }
    &__link {
      margin: 0 5px;
    }
    &__link:not(.active) {
      display: inline;
    }
  }
}