@import url('https://fonts.googleapis.com/css?family=Yantramanav:700|Open+Sans');
@import "../shared/header.scss";
@import "../shared/footer.scss";
@import "../shared/main.scss";
.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__link {
    color: #ccc;
    font-size: 1em;
    background: transparent;
    cursor: pointer;
    padding: 8px 13px;
    margin: 0 20px;
    border: 3px solid transparent;
    border-radius: 3px;
    box-sizing: border-box;
  }
  &__link.active {
    transition: all 0.3s;
    background: #222;
    color: #eee;
    box-shadow: 1px 3px 6px rgba(#000, .12);
  }
  &__link:not(.active) {
    display: none;
  }
  &__button {
    background: transparent;
    border: none;
    outline: none;
  }
}

.carousel {
  width: 100%;
}

.card {
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 3px 6px rgba(#000, .24);
}

.movie {
  display: grid;
  grid-template: 'poster title' 'poster details' 'intro intro' 'quote quote' 'description description';
  grid-template-columns: 33% auto;
  grid-template-rows: auto 1fr;
  box-sizing: border-box;
  padding: 20px;
  margin: 30px 30px 10px;
  width: 90%;
  grid-column-gap: 20px;
  &__title {
    font: 2em 'Yantramanav';
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    grid-area: title;
    word-break: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    &--year {
      display: none;
    }
  }
  &__details {
    word-break: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    margin: 0;
    font-size: 1.3em;
    color: rgba(0, 0, 0, .56);
    grid-area: details;
  }
  &__intro {
    margin: 30px 0;
    background-image: linear-gradient(120deg, #ffe552 0%, #ffcf66 100%);
    padding: 15px 20px;
    border-radius: 5px;
    grid-area: intro;
  }
  &__quote {
    margin: 0 0 15px 0;
    padding: 5px 15px;
    font-style: italic;
    border-left: 4px solid #ffe552;
    grid-area: quote;
  }
  &__poster {
    box-shadow: 1px 3px 6px rgba(#331, .24);
    border-radius: 3px;
    max-width: 100%;
    grid-area: poster;
  }
  &__description {
    margin: 0;
    grid-area: description;
  }
}

@media screen and (min-width: 769px) {
  .carousel {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
  }
  .movie {
    grid-template: 'poster title' 'poster details' 'poster intro' 'poster quote' 'poster description';
    grid-template-columns: 33% auto;
    grid-template-rows: auto auto auto 1fr;
    grid-column-gap: 30px;
    padding: 40px;
    &__title {
      margin-top: 10px;
      font-size: 3em;
      &--year {
        display: inline-block;
        font-size: 0.65em;
        transform: translate(0, -4px);
      }
    }
    &__poster {
      max-width: 100%;
    }
    &__intro {
      margin: 20px 0 30px 0;
    }
  }
}

@media screen and (min-width: 1024px) {
  .controls {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    &__button {
      display: none;
    }
    &__link {
      margin: 0 4px;
      padding: 9px 7px;
    }
    &__link:not(.active) {
      display: inline;
    }
  }
}