<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/faq/styles.css" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>Filmrausch | about</title>
  </head>

  <body>
    <%- include('../../shared/header.ejs') %>

    <main>
      <div class="card faq">
        <h2 class="faq__heading">Filmrausch Website FAQ</h2>
        <h3 class="faq__question-heading">
          Warum fehlt bei so vielen Filmen der Inhalt?
        </h3>
        <h3 class="faq__question-heading faq__question-heading--english">
          Why is the content of some movies missing?
        </h3>
        <p class="faq__text">
          Damit wir die Film zeigen können, kaufen wir die Vorführrechte für den
          Film. Um damit zusätzlich online werben zu dürfen, braucht man die
          Werbelizenz, die gerne mal 100€+ teurer ist. Da wir aber nur ein
          begrenztes Budget zur Verfügung haben, kaufen wir diese nicht ein.
        </p>
        <p class="faq__text faq__text--english">
          To be able to show the movies in public, we have to buy the screening
          licenses. Advertising the movies online is not included, there is an
          extra license which often is more expensive. Our budget is limited, so
          we don't buy these.
        </p>
        <h3 class="faq__question-heading">
          Was macht ihr stattdessen mit dem Geld?
        </h3>
        <h3 class="faq__question-heading faq__question-heading--english">
          What do you do with the money instead?
        </h3>
        <p class="faq__text">
          Das Geld stecken wir natürlich in das bestmöglichste
          studentisch-trashige Kinoerlebnis mit Charme! Mit dem Rest des Geldes
          ermöglichen wir euch den kostenlosen Eintritt und günstige Snacks und
          Getränke!
        </p>
        <p class="faq__text faq__text--english">
          We try to put on the best possible sometimes-trashy student show and
          cinema experience with charm! The rest of the money is used to provide
          you with free entrance and cheap snacks and drinks!
        </p>
        <h3 class="faq__question-heading">
          Woher weiß ich, welcher Film dann läuft?
        </h3>
        <h3 class="faq__question-heading faq__question-heading--english">
          How do I know which movie is playing?
        </h3>
        <p class="faq__text">
          In der jeweiligen Wochen hängen überall in der HdM Plakate mit dem
          entsprechenden Film. Außerdem läuft auf der Leinwand im Foyer unser
          aktueller Trailer, dort könnt ihr auch alle Filme sehen!
        </p>
        <p class="faq__text faq__text--english">
          Each week there will be posters with the corresponding film hanging
          everywhere in the HdM. Additionally, you can watch our current trailer
          on the screen in the foyer, there you can also see all the movies!
        </p>
      </div>
    </main>

    <%- include('../../shared/footer.ejs') %>
  </body>
</html>
