@import url("https://fonts.googleapis.com/css?family=Yantramanav:700|Open+Sans");
@import "../../shared/header.scss";
@import "../../shared/footer.scss";
@import "../../shared/main.scss";

.faq {
  width: 90%;
  max-width: 1024px;
  margin: 20px auto 0;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  &__heading {
    font: 3em "Yantramanav";
    margin: 0;
    margin-bottom: 25px;
    text-align: center;
    line-height: 1em;
  }
  &__question-heading {
    font: 1.8em "Yantramanav";
    margin: 0;
    margin-bottom: 10px;
    align-self: center;
  }
  &__question-heading--english {
    margin-top: -10px;
    font-size: 1.5em;
  }
  &__text {
    font-size: 1.1em;
    margin: 0;
    margin-bottom: 30px;
    align-self: center;
  }
  &__text--english {
    margin-top: -15px;
  }
  &__image {
    width: 90%;
    margin: 20px 0;
    border-radius: 3px;
    box-shadow: 1px 3px 6px rgba(#331, 0.24);
    align-self: center;
  }
}

@media screen and (min-width: 768px) {
  .faq {
    padding: 50px 30px;
    &__text,
    &__question-heading {
      width: 90%;
    }
    &__text {
      font-size: 1.2em;
    }
    &__image {
      width: 80%;
    }
  }
}
